/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* BASE STYLES */
body {
    font-family: 'Radio Canada Big', sans-serif;
    background-color: #e8f0f7;
}

/* NORMAL STYLES */
.header {
    background-color: rgb(255, 255, 255);
}

.header-content{

}

.logo {

}

.logo-img {

}

.nav {

}

.nav-list {

}

.nav-item {

}

.nav-link {

}

.main {

}

.heading {

}