/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


/* BASE STYLES */
body {
    font-family: 'Radio Canada Big', sans-serif;
    background-image: 
        linear-gradient(
            to bottom, var(--bg-grad-1), var(--bg-grad-2)
        );
    transition: background-image 0.3s;
    min-height: 100vh;
    background-position: center;
}

/* NORMAL STYLES */
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-content{
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: auto;
    margin: 0 auto;
    padding: 0 175px;
    transition: background-color 0.3s;
}

/* NAVIGATION MENU */

.logo {
    
}

.logo-img {
    height: 60px;
    padding: 10px 20px 10px 0px;
}

.nav {
  
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */

}
nav li {
    height: 50px;
    transition: 1s;
}
nav a {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
nav a:hover {
    box-shadow: #d7e8f7;
 
}
nav li:first-child {
     margin-right: auto;
}

.nav-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(10px);
    box-shadow: 1px 0px 6px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-sidebar li {
    width: 100%;
}
.nav-sidebar a {
    width: 100%;
}
#menu-btn {
    display: none;
}
@media(max-width: 800px){
    .nav-main {
        display: none;
    }
    #menu-btn {
        display: block;
    }
}
@media (max-width: 500px) {
    .nav-sidebar {
        width: 100%;
        transition: 0.5s;
    }
}

.nav-desktop {
    display: flex;
    column-gap: 40px;
    transition: 1s;
}

.nav-main {

}

.nav-link {
    color: var(--header-text);
    font-size: 15px;
}

.nav-link:hover {
    color: var(--hover-nav);
}

.active {
    color: var(--active-color);
    transition: text-color 0.3s, color 0.3s;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.heading {

}

.section
{

}

/* --------------- HOME --------------- */
.section:nth-child(1){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

.h1-home {
    font-size: 65px;
}

.h3-home {
    font-size: 30px;
}

.h4-home {
    font-size: 25px;
}

/* --------------- ABOUT --------------- */
.section:nth-child(2){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- CAMPUS --------------- */
.section:nth-child(3){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- MEET THE FAMILY --------------- */
.section:nth-child(4){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- FACILITIES --------------- */
.section:nth-child(5){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- ORGANIZATIONS --------------- */
.section:nth-child(6){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- EVENTS --------------- */
.section:nth-child(7){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}

/* --------------- OTHERS --------------- */
.section:nth-child(8){
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    transition: color 0.3s;
}


/* --------------- FOOTER --------------- */
.footer{
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 60px;   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}


/* --------------- DARK/LIGHT MODE + SWITCH --------------- */
:root {
    --background-color: #d7e8f7;
    --bg-grad-1: #d7e8f7;
    --bg-grad-2: #3c487a;
    --text-color: #333;
    --header-background: rgb(255, 255, 255, 0.8);
    --header-text: #515d89;
    --section-background: #fff;
    --hover-nav: #000000;
    --active-color: #000000;
    /*--s1-bg-color: #e9ebf0;
    --s2-bg-color: #d4d6e1;
    --s3-bg-color: #bec2d3;
    --s4-bg-color: #a8aec4;
    --s5-bg-color: #939ab5;
    --s6-bg-color: #7d85a6;
    --s7-bg-color: #677197;
    --s8-bg-color: #515d89;
    --s9-bg-color: #3c487a;*/
    --slider-color: #26346b;
    --slider-bg: #d7e8f7;
  }

  [data-theme="dark"] {
    --background-color: #111;
    --bg-grad-1: #0b1020;
    --bg-grad-2: #26346b;
    --text-color: #f0f0f0;
    --header-background: rgb(0,0,0,0.9);
    --header-text: #f0f0f0;
    --section-background: #444;
    --hover-nav: #26346b;
    --active-color: #26346b;
    /*--s1-bg-color: #0b1020;
    --s2-bg-color: #0f152b;
    --s3-bg-color: #131a36;
    --s4-bg-color: #171f40;
    --s5-bg-color: #1b244b;
    --s6-bg-color: #1e2a56;
    --s7-bg-color: #222f60;
    --s8-bg-color: #26346b;*/
    --slider-color: rgba(255, 255, 255, 1);
    --slider-bg: #444;
  }
  /* Darkmode Switch */
  .switch [data-theme="dark"] {
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid white 1px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-right: -5px;
  }

  .switch {
    position: absolute;
    top: 20px;
    right: 30px;
    border: solid rgb(155, 155, 155) 1px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-right: -5px;
    background-color: var(--slider-bg);
    box-shadow: 0 0 10px rgba(38, 52, 107, 0.1);
  }
  
  .switch input {
    display: none;
  }

  .switch:after {
    position: absolute;
    top: 20px;
    right: 0px;
    border: solid white 1px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-right: -5px;
  }

  .switch .slider {
    width: 50px;
    height: 24px;
    background-color: #ccc;
    position: relative;
    border-radius: 24px;
    cursor: pointer;
    margin-right: 48px;
  }

  
  .switch .slider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--slider-color);
    margin: 2px 0px 2px 1px;
    transition: 0.3s;
  }
 
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }


/* --------------- SECTION ANIMATIONS --------------- */
.animate{
    transition: 1s;
}

.section .animate {
    transition: 1s;
}

.section:nth-child(1) .animate{
    transform: scale(.7);
}

.section:nth-child(1).show-animate .animate{
    transform: scale(1);
}