html {
    scroll-behavior:smooth;
}

.topnav {
    background-color: #0044cc;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* TOP NAV HOVER & ACTIVE */
/*
.topnav a:hover {
background-color: #ddd;
color: black;
}
  
.topnav a.active {
background-color: #04AA6D;
color: white;
}
*/

.home{
    height: 500px;
    text-align: center;
    padding: 400px;
    margin: 50px;
}

.about{
    height: 500px;
    text-align: center;
    padding: 400px;
    margin: 50px;
}

.campus{
    height: 500px;
    text-align: center;
    padding: 400px;
    margin: 50px;
}